<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Root Config</title>
  <!--
    Remove this if you only support browsers that support async/await.
    This is needed by babel to share largeish helper code for compiling async/await in older
    browsers. More information at https://github.com/single-spa/create-single-spa/issues/112
  -->
  <script src="https://cdn.jsdelivr.net/npm/regenerator-runtime@0.13.7/runtime.min.js"></script>
  <!--
    This CSP allows any SSL-enabled host and for arbitrary eval(), but you should limit these directives further to increase your app's security.
    Learn more about CSP policies at https://content-security-policy.com/#directive
  -->
  <meta http-equiv="Content-Security-Policy" content="default-src 'self' https: localhost:*; script-src 'unsafe-inline' 'unsafe-eval' https: localhost:*; connect-src https: localhost:* ws://localhost:*; style-src 'unsafe-inline' https:; object-src 'none';">
  <meta name="importmap-type" content="systemjs-importmap" />
  <!-- If you wish to turn off import-map-overrides for specific environments (prod), uncomment the line below -->
  <!-- More info at https://github.com/joeldenning/import-map-overrides/blob/master/docs/configuration.md#domain-list -->
  <!-- <meta name="import-map-overrides-domains" content="denylist:prod.example.com" /> -->

  <!-- Shared dependencies go into this import map. Your shared dependencies must be of one of the following formats:

    1. System.register (preferred when possible) - https://github.com/systemjs/systemjs/blob/master/docs/system-register.md
    2. UMD - https://github.com/umdjs/umd
    3. Global variable

    More information about shared dependencies can be found at https://single-spa.js.org/docs/recommended-setup#sharing-with-import-maps.
  -->
  </script>
  <script type="text/javascript">
    const importMapBase = 'http://localhost:8081/';
    const defaultSuffix = 'app';

    const urlParams = new URLSearchParams(window.location.search);
    
    const suffix = urlParams.has('importVersion') ? urlParams.get('importVersion') : defaultSuffix;
    const src = `${importMapBase}${suffix}.json`;
    
    const importMap = document.createElement('script');
    importMap.type = 'systemjs-importmap';
    importMap.src = src
    importMap.crossOrigin = 'anonymous';

    document.head.appendChild(importMap);
  </script>
  <link rel="preload" href="https://cdn.jsdelivr.net/npm/single-spa@5.9.0/lib/system/single-spa.min.js" as="script">

  <!-- Add your organization's prod import map URL to this script's src  -->
  <!-- <script type="systemjs-importmap" src="/importmap.json"></script> -->

  <!--
    If you need to support Angular applications, uncomment the script tag below to ensure only one instance of ZoneJS is loaded
    Learn more about why at https://single-spa.js.org/docs/ecosystem-angular/#zonejs
  -->
  <!-- <script src="https://cdn.jsdelivr.net/npm/zone.js@0.11.3/dist/zone.min.js"></script> -->

  <% if (isLocal) { %>
  <script src="https://cdn.jsdelivr.net/npm/systemjs@6.8.3/dist/system.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/systemjs@6.8.3/dist/extras/amd.js"></script>
  <% } else { %>
  <script src="https://cdn.jsdelivr.net/npm/systemjs@6.8.3/dist/system.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/systemjs@6.8.3/dist/extras/amd.min.js"></script>
  <% } %>
</head>
<body>
  <noscript>
    You need to enable JavaScript to run this app.
  </noscript>
  <style>
    html, body {
      height: 100%;
      width: 100%;
      padding: 0;
      margin: 0;
      overflow: hidden;
      font-family: Arial, Helvetica, sans-serif;
      -webkit-font-smoothing: antialiased;
      font-weight: 500;
      font-size: 30px;
    }
    .container {
      width: 100%;
      height: 100%;
      margin: 0;
      display: flex;
      flex-direction: column;
    }

    .col {
      padding: 20px;
      align-items: center;
      justify-content: center;
      flex: 1 1 100%;
      display: flex;
      flex-direction: column;
    }

    .row {
      display: flex;
      flex: 1 1 100%;
    }

    .mfe {
      width: 100%;
      height: 100%;
      display: flex;
      flex-direction: column;
    }
  </style>
  <main class="container">
    <div class="row">
      <div class="col">
        <div id="single-spa-application:@cjsi/navy-mfe" class="mfe"></div>
      </div>
      <div class="col">
      </div>
    </div>
    <div class="row">
      <div class="col">
        <div id="single-spa-application:@cjsi/maroon-mfe" class="mfe"></div>
      </div>
      <div class="col">
        <!-- <div id="single-spa-application:@cjsi/maroon-mfe"></div> -->
      </div>
    </div>
    
  </main>
  <script>
    System.import('@cjsi/root-config');
  </script>
</body>
</html>
